<div layout="column" layout-fill>
    <md-toolbar>

        <div class="md-toolbar-tools">
            <h2 md-truncate flex>ToDoList App</h2>
        </div>

    </md-toolbar>
    <md-content>
        <h1>Tasks list</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Task name</th>
                <th>Description</th>
                <th>Controls</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" value="" class="form-control" ng-model="task.taskName"></td>
                <td><input type="text" value="" class="form-control" ng-model="task.taskDescription"></td>
                <td><md-button class="md-raised md-primary" ng-click="addTask()"><i class="glyphicon glyphicon-plus"></i>&ensp;Add task</md-button></td>
            </tr>
            <tr ng-repeat="task in tasks">
                <td>{{task.taskName}}</td>
                <td>{{task.taskDescription}}</td>
                <td>
                    <md-button class="md-raised" ng-click="removeTask(task._id)"><i class="glyphicon glyphicon-trash"></i>&ensp;Delete task</md-button>
                </td>
            </tr>
            </tbody>
        </table>

    </md-content>
</div>